<h1><%= @project.title %></h1>

<hr>

<h2>Messages</h2>

<div id="messages">
  <% @project.messages.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>

    <% elsif message.role == "assistant" %>
      <div class="d-flex justify-content-start mb-5">
        <div class="px-3 pb-0 pt-3">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<hr>

<h3>Add a new message</h3>

<%= form_with model: [@project, Message.new], local: true do |f| %>
  <div>
    <%= f.text_area :content, rows: 3, placeholder: "Write your message..." %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<%= link_to "Back", projects_path, class: "btn btn-secondary" %>


<%= @messages.each do |message|  %>
<%= message %>
<% end %>
