<%= turbo_stream_from @project %>

<h1><%= @project.title %></h1>

<hr>

<h2>Messages</h2>

<div id="messages">
  <% @project.messages.each do |message| %>
     <%= render "messages/message", message: message %>
  <% end %>
</div>


<hr>

<h3>Add a new message</h3>

<%= form_with model: [@project, Message.new], local: true do |f| %>
  <div>
    <%= f.text_area :content, rows: 3, placeholder: "Write your message...", class: "w-100"%>
  </div>

  <div style="margin-top: 10px;">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<%= link_to "Back", projects_path, class: "btn btn-secondary" %>
