<div style="max-width: 700px; margin: 50px auto;">

  <h1 style="font-size: 32px; font-weight: bold; margin-bottom: 30px;">
    Create a New Project
  </h1>

<%= simple_form_for(@project) do |f| %>
  <%= f.input :title %>
  <%= f.input :category, collection: ["Carpentry", "Electricity", "Plumbing"] %>

  <%= f.input :materials,
    collection: ["Screw", "Nail", "Plywood", "Washers", "Anchors", "Varnish", "Pipes", "Gaskets", "Wires", "Switches", "Outlets", "Light", "Cables"],
    as: :select,
    include_blank: true,
    input_html: {
      multiple: true,
      class: "form-select",
      size: 8,
      data: { placeholder: "Sélectionne les matériaux..." }
    }
%>
  <%= f.input :prompt, label:"Description de ton projet" %>

<%= f.submit "Create Project",
          style: "
            background: #4F46E5;
            color: white;
            border: none;
            padding: 12px 30px;
            font-size: 18px;
            border-radius: 8px;
            cursor: pointer;
          " %>
<% end %>

  <br><br>

  <%= link_to "Back to Home", root_path, style: "color: #666; text-decoration: underline;" %>
</div>
