<h1><%= @project.title %></h1>
<%= link_to "Back to conversationt", project_messages_path(@project), class: "btn btn-primary" %>


<hr>

<div class="container">
  <% if @project.tools %>
    <h2>tools</h2>
    <p><%= raw(render_markdown(@project.tools)) %></p>
  <% end %>

  <h2>materials</h2>
  <p><%=raw(render_markdown(@project.materials)) %></p>

  <h2>methodology: </h2>
  <p><%= raw(render_markdown(@project.methodology))  %></p>
</div>
